* {
  box-sizing: border-box;
  /* padding: 0; */
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 200px 1fr;
  grid-gap: 20px;
  height: 100vh;
}

.sidebar {
  background-color: lightblue;
  display: grid;
  grid-row: 1 / -1;
}
.topbar {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}
.content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'projects announce'
    'projects trending';
}

.projects {
  grid-area: projects;
  background-color: pink;
  grid-template-columns: 1fr 1fr
}

.announcements {
  grid-area: announce;
  background-color: lightyellow;
  grid-template-columns: 1fr
}

.trending {
    grid-area: trending;
    background-color: lightgreen;
    grid-template-columns: 1fr
}
